# H2
spring:
  h2:
    console:
      enabled: true
      path: /h2
# Datasource
  datasource:
    url: jdbc:h2:file:~/test
    username: sa
    password:
    driver-class-name: org.h2.Driver
  flyway:
    enabled: false
    locations: classpath:db/migration/common,classpath:db/migration/h2
